.login__card {
  width: 500px;
  height: auto;
  padding: 10px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__card form {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.login__card form input {
  border: none;
  border-bottom: 1px solid black;
  margin: 10px;
}

.login__card form input:focus {
  outline: none;
}
