.login__card {
  width: 500px;
  height: auto;
  padding: 10px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__card form {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.login__card form input {
  border: none;
  border-bottom: 1px solid black;
  margin: 10px;
}

.login__card form input:focus {
  outline: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  height: 35vh;
  padding: 20px 10px;
}

.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.footer div p {
  margin: 0;
}

.footer div h4 {
  margin: 0 0 5px;
  text-decoration: underline;
}

.footer__icon div {
  width: 30px;
  height: 30px;
  background-color: #fff;
}
