.perfil__capa {
  width: 700px;
  height: 250px;
  padding: 15px;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
}

.perfil__capa .avatar__g {
  width: 70px;
  height: 70px;
}

.perfil__name {
  height: 80px;
  width: 700px;
  background-color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

.perfil__name h2,
.perfil__name p {
  margin: 0;
}

.perfil__info {
  display: flex;
  background-color: #fff;
  width: 700px;
  padding: 15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.perfil__info p {
  margin: 0;
}

.perfil__info2 {
  display: flex;
  height: auto;
  padding: 0 15px;
  background-color: #d9d9d9;
  width: 700px;
  justify-content: space-around;
  border-radius: 10px;
}

.perfil__bio p,
.perfil__bio h4 {
  margin: 0;
}

.perfil__bio {
  display: flex;
  width: 320px;
  height: 165px;
  background-color: #fff;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}

.bio_information {
  width: 100%;
  line-height: 23px;
}

.perfil__stories {
  display: flex;
  width: 320px;
  height: 165px;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}

.perfil__stories h4,
.perfil__stories p {
  margin: 0;
}

.stories__container {
  display: flex;
  padding: 15px 0;
  width: 100%;
  justify-content: space-between;
}

.stories__card {
  display: flex;
  width: 60px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}
