.main {
  display: flex;
  justify-content: center;
  height: auto;
  gap: 15px;
  padding: 15px 25px;
  background-color: #d9d9d9;
}

.main__posts {
  height: auto;
  background-color: #d9d9d9;
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post__comment {
  height: auto;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px;
}

.post__comment h4,
.post__comment p {
  margin: 0;
}
