.main__home {
  height: 80vh;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main__text {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main__image {
  width: 400px;
  height: 300px;
  border: solid 1px black;
}

.titles {
  height: 70vh;
  background-color: #004080;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.titles__card {
  padding: 15px;
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

h4 {
  color: #805000;
  font-size: 20px;
}

.titles__card h4,
.titles__card p {
  margin: 10px 0 0;
}

.titles__card__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}

.images {
  height: 80vh;
  display: flex;
}

.images__img {
  width: 50%;
  background-color: #d9d9d9;
}

.images__text {
  width: 50%;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #004080;
  color: #fff;
}

.footer {
  display: flex;
  justify-content: space-around;
  height: 35vh;
  padding: 20px 10px;
  background-color: #004080;
}

.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.footer div p {
  margin: 0;
}

.footer div h4 {
  margin: 0 0 5px;
  text-decoration: underline;
}

.footer__icon div {
  width: 30px;
  height: 30px;
  background-color: #fff;
}
